@tailwind base;
@tailwind components;
@tailwind utilities;

/* a{
    margin-top: 6em;
    color: red;
} */

.darkkMode{
    background-color: rgb(33, 33, 33);
    color: white;
}

.lightMode{
    background-color: white;
    color: black;
}